<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Manual")}</%block>

<section class="static-container about">
<h1>${_("Manual")}</h1>
<section class="about-how">
	<article>
		<h2>Find a course</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Review</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Register</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Start studying</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</article>
</section>
<h1>Why use metis?</h1>
<section class="about-why">
	<article>
		<h2>Earn a degree</h2>
		<img src="image.png" alt="" width="100%" height="100px"/>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</article>
	<article>
		<h2>Follow real classes</h2>
		<img src="image.png" alt="" width="100%" height="100px"/>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</article>
	<article>
		<h2>Use your schedule</h2>
		<img src="image.png" alt="" width="100%" height="100px"/>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</article>
	<article>
		<h2>Discuss your course</h2>
		<img src="image.png" alt="" width="100%" height="100px"/>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	</article>

</section>
</section>
