<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="static-container honor">
<h1>${_("Honor Code")}</h1>
<p> Ik ben de eeuwige, uw God, die u uit het land Egypte, uit het diensthuis, geleid heeft. </p>
 <p>Gij zult geen andere goden voor mijn aangezicht hebben. \n Gij zult de naam van de Eeuwige, uw God, niet ijdel gebruiken. </p>
 <p>Gedenk de Sjabbat, dat gij die heiligt. </p>
 <p> Eert uw vader en uw moeder.</p>
 <p> Gij zult niet moorden. </p>
 <p> Gij zult niet echtbreken. </p>
 <p> Gij zult niet stelen. </p>
 <p> Gij zult geen valse getuigenis spreken tegen uw naaste. </p>
 <p> Gij zult niets begeren dat van uw naaste is.</p>
</section>
