<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Manual")}</%block>

<section class="static-container about">
<h1>${_("Manual")}</h1>
<section class="about-how">
	<article>
		<h2>Find a course</h2>
		<p>Browse through our collection of courses and find a course that fits your needs.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Review</h2>
		<p>Review the course information to be sure the course you’ve selected does satisfy your needs.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Register</h2>
		<p>Register to Metis to follow the course, personalize your interests and communicate with fellow students and instructors.</p>
		<span class="fa fa-arrow-right"> </span>
	</article>
	<article>
		<h2>Start studying</h2>
		<p>
		Study your selected course in our lightweight learning environment and earn your degree!
		</p>
	</article>
</section>
<h1>Why use metis?</h1>
<section class="about-why">
	<article>
		<h2>Earn a degree</h2>
		<div class="manual-icon">
			<span class="fa fa-graduation-cap "> </span>
		</div>
		<p>
		Earn a degree or a certificate by following the course you want to earn a degree for. These degrees are easier to earn compared to the traditional degrees and will give you the same benefits.
		</p>
	</article>
	<article>
		<h2>Follow real classes</h2>
		<div class="manual-icon">
			<span class="fa fa-slideshare "> </span>
		</div>
		<p>
On Metis, you are able to follow real classes and lectures. This can be used to review the course or come to a better understanding of your course content.</p>
	</article>
	<article>
		<h2>Use your schedule</h2>
		<div class="manual-icon">
			<span class="fa fa-bed "> </span>
		</div>
		<p>Do you have no time at all to follow evening classes or lectures? Metis gives you the solution. Learn your course using your own schedule and at your own pace.</p>
	</article>
	<article>
		<h2>Discuss your course</h2>
		<div class="manual-icon">
			<span class="fa fa-comments "> </span>
		</div>
		<p>Do you have a question or want more information about a subject? On Metis you are allowed to have discussions and conversations with your fellow students and your instructor to obtain this information.</p>
	</article>

</section>
</section>
