> .home {
    margin: 0;
    background: none;

    .static-container{
      background-color:white;
    }

    > header {
        .square(auto);

        box-shadow: none;
        border: none;
        background-color: #c8bbaa;
        background-image: url('../images/howest_banner.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
        margin: 0;
        padding: 10px 0 40px;
        margin: 0 auto;
        width: 1170px;

        .outer-wrapper {
            .ionisx-container();
            @media (min-width: 1200px){
              width: 1170px;
            }

            border-radius: @default-border-radius;
            padding-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 0;

            .title {
                .square(auto);
                .make-md-column(8);
                .make-lg-column(6);

                background: none;
                box-shadow: none;
                border: 0 none;
                transition: none;
                float: none;
                min-height: 0;
            
                margin: 0;
                padding: 0;
                top:  (@font-size-h1 * 4);

                hgroup {
                    padding: 0;
                    transition: none;
                    color: @white;

                    h1 {
                        font: inherit;
                        font-size: @font-size-h1;
                        font-weight: 500;
                        color: inherit;
                        text-shadow: none;
                        text-transform: none;
                        margin: 0;
                    }

                    h2 {
                        font: inherit;
                        font-size: @font-size-h2;
                        color: inherit;
                        text-shadow: none;
                        text-transform: none;
                        margin: 0;
                    }
                }
                .course-search{
                    padding-bottom: 100px;
                    padding: 110px 10px;
                    bottom:0px;
                    .search-input{
                        font-size: (@font-size-h1 * 1.4);
                        line-height: (@font-size-h1 * 2);
                        height: (@font-size-h1 * 3);
                        padding: 10px (@font-size-h1 * 3) 0 10px;
                    }
                    input:focus {
                        border-color: darken(@color-pink, 10%);
                    }
                    .search-button {
                        width: (@font-size-h1 * 3);
                        height: (@font-size-h1 * 3);
                        background-color: @color-pink !important;
                        border-color: darken(@color-pink, 10%);
                    } 
                }                           
            }

            .media {
                .square(auto);
                .make-md-column(4);
                .make-lg-column(5);
                .make-lg-column-offset(1);

                display: block;
                background: none;
                border: 0 none;
                float: none;
                margin: 0;
                padding: 0; 
                top:20px;

                @media (max-width: @screen-sm-max) {
                    width: 350px;
                }

                @media (max-width: @screen-xs-max) {
                    width: auto;
                }

                .hero {
                    .size(auto, (@font-size-h1 * 10));
                    overflow: initial;
                    position: static;
                    margin: auto;
                    border: 1px solid @color-border;
                    border-radius: @default-border-radius;
                    background-image: url('../images/howest_banner.png');
                    filter: FlipH;
                    -ms-filter: "FlipH";

                    @media (max-width: @screen-md-max) {
                        display:none;
                    }
                }
            }
        }
    }

    .container {
        .ionisx-container();
    }

    .courses {
        padding: 0;
        text-align: center;
        margin-left: -15px;
        margin-right: -15px;

        .courses-listing-item {
            .make-xs-column(6);
            .make-sm-column(4);
            .make-md-column(3);
            .make-lg-column(3);

            margin: 0;
            display: block;
            text-align: left;

            &:last-child {
                margin: 0;
            }

            .courseBlock {
                overflow: hidden;
                min-height: 250px;
                width: 100%;
                position: relative;
                display: inline-block;

                .image {
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  background: darken(@color-blue, 20%);
                  background-position: center center;
                  background-size: cover;
                  /*-webkit-transition: background-size 0.2s ease-in;
                          transition: background-size 0.2s ease-in;*/
                }

                .fa{
                    font: normal normal normal 14px/1 FontAwesome;
                }

                .title {
                  position: absolute;
                  z-index: 4;
                  top: 20px;
                  margin:10px 0px;
                  padding: 10px;
                  left: 0px;
                  width: 100%;
                  background-color: @color0;
                  color: @white;
                  text-transform: uppercase;
                  font-family: Open Sans, sans-serif;
                  font-weight: bold;
                  font-size: @font-size-base;
                  letter-spacing: 0.5px;

                }

                .richting {
                  width: 100%;
                  position: absolute;
                  z-index: 2;
                  bottom: 19px;
                  padding-left: 20px;
                  color: #fff;
                  text-transform: uppercase;
                  font-family: Open Sans, sans-serif;
                  font-weight: lighter;
                  font-size: 14px;
                  letter-spacing: 0.5px;
                  text-shadow: 0 0 10px #000;
                  background-color: @color0;
                  margin: 0;
                }

                .timing{
                  width: 100%;
                  position: absolute;
                  z-index: 2;
                  bottom: 0px;
                  padding-left: 20px;
                  color: #fff;
                  text-transform: uppercase;
                  font-family: Open Sans, sans-serif;
                  font-weight: lighter;
                  font-size: 14px;
                  letter-spacing: 0.5px;
                  text-shadow: 0 0 10px #000;
                  background-color: @color0;
                  margin: 0;
                }

                .hover {
                  z-index:3;
                  position: absolute;
                  background: rgba(255,255,255, 0.5);
                  background: fadeout(@color0, 20%);
                  background: @color0;
                  width: 500px;
                  height: 500px;
                  top: 220px;
                  left: 40px;
                  -webkit-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                          transform: rotate(45deg);
                  -webkit-transition: all 0.2s ease-in;
                          transition: all 0.2s ease-in;
                }

                .hover span {
                  color: #fff;
                  font-size: 40px;
                  text-decoration: none;
                  position: absolute;
                  top: 100px;
                  left: 10px;
                  -webkit-transform: rotate(-45deg);
                      -ms-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                  -webkit-transition: all 0.2s ease-in;
                          transition: all 0.2s ease-in;
                }

                &:hover .hover {
                  top: -135px;
                  left: -80px;
                }
                &:hover .hover span {
                  font-size: (@font-size-h1 * 4);
                  top: 50%;
                  left: 50%;
                  -webkit-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
                      -ms-transform: rotate(-45deg) translateY(-50%) translateX(-50%);
                          transform: rotate(-45deg) translateY(-50%) translateX(-50%);
                }
                &.color1{
                  border-bottom: 5px solid @color1;
                  .title, .richting, .timing, .hover{
                    background-color: @color1;
                    color: white;
                  }
                }
                &.color2{
                  border-bottom: 5px solid @color2;
                  .title, .richting, .timing, .hover{
                    background-color: @color2;
                    color: white;
                  }
                }
                &.color3{
                  border-bottom: 5px solid @color3;
                  .title, .richting, .timing, .hover{
                    background-color: @color3;
                    color: white;
                  }
                }
                &.color4{
                  border-bottom: 5px solid @color4;
                  .title, .richting, .timing, .hover{
                    background-color: @color4;
                    color: white;
                  }
                }
                &.color5{
                  border-bottom: 5px solid @color5;
                  .title, .richting, .timing, .hover{
                    background-color: @color5;
                    color: white;
                  }
                }
                @media (max-width: @screen-sm-max) {
                    .hover{
                      /*left:-50%;
                      top:-50%;
                      width: 200%;
                      height: 200%;*/
                      display:none;
                    }
                }

            }
        }
    }

    .categories-container{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;

      article{
      cursor:pointer;
        .make-xs-column(12);
        .make-sm-column(6);
        .make-md-column(2.4);
        .make-lg-column(2.4); 
        
        div{
          height:100%;
        }

        h2{
          opacity: 1;
          font-size: @font-size-h2;
          width: 100%;
          background-color:white;
          padding: 5px;
          line-height: (@font-size-h2 * 3);
          text-align:center;
        }
        p{
          font-size: @font-size-h4;
          padding: 10px;
          opacity: 0.8;
        }
        &:hover p{
          opacity: 1;
        }
      }

      .color1{
        background-color: lighten(@color1, 20%);
        h2{
          background-color: @color1;
          opacity: 1 !important;
          border-top: solid 4px lighten(@color1, 20%);
        }
      }
      .color2{
        background-color: lighten(@color2, 20%);
        h2{
          background-color: @color2;
          opacity: 1;
          border-top: solid 4px lighten(@color2, 20%);
        }
      }
      .color3{
        background-color: lighten(@color3, 20%);
        h2{
          background-color: @color3;
          opacity: 1;
          border-top: solid 4px lighten(@color3, 20%);
        }
      }
      .color4{
        background-color: lighten(@color4, 20%);
        h2{
          background-color: @color4;
          opacity: 1;
          border-top: solid 4px lighten(@color4, 20%);
        }
      }
      .color5{
        background-color: lighten(@color5, 20%);
        h2{
          background-color: @color5;
          opacity: 1;
          border-top: solid 4px lighten(@color5, 20%);
        }
      }

    }

}
