<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<div class="courseBlock color${course.display_number_with_default[3:4]}" id="${course.id | h}" aria-label="${get_course_about_section(course, 'title')}">
  <div class="image" style="background-image: url(${course_image_url(course)})"></div>
  <p class="title">${get_course_about_section(course, 'title')}</p>
  <p class="richting">${get_course_about_section(course, 'university')}</p>
  <p class="timing">${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</p>
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}"><div class="hover"><span class="fa fa-arrow-circle-right"></span></div></a>
  <div class="sr">
    <ul>
      <li>${get_course_about_section(course, 'university')}</li>
      <li>${course.display_number_with_default}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</time></li>
    </ul>
  </div>
</div>

<!--
${get_course_about_section(course, 'university')[0:1]}
        <p class="semester">${get_course_about_section(course, 'university')[2:]}</p>
        <span class="course-organization">${get_course_about_section(course, 'university')}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${get_course_about_section(course, 'title')}</span>

${course.display_number_with_default | h}

        Valid keys:
    - overview
    - title
    - university
    - number
    - short_description
    - description
    - key_dates (includes start, end, exams, etc)
    - video
    - course_staff_short
    - course_staff_extended
    - requirements
    - syllabus
    - textbook
    - faq
    - more_info
    - ocw_links
-->
