<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from courseware.courses import course_image_url, get_course_about_section
%>
<%page args="course" />
<div class="courseBlock color${get_course_about_section(course, 'university')[0:1]}" id="${course.id | h}" aria-label="${get_course_about_section(course, 'title')}">
  <div class="image" style="background-image: url(${course_image_url(course)})"></div>
  <p class="title">${get_course_about_section(course, 'title')}</p>
  <p class="semester">${get_course_about_section(course, 'number')}</p>
  <p class="timing">${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</p>
  <div class="hover"><a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="fa fa-arrow-circle-right"></a></div>
  <div class="sr">
    <ul>
      <li>${get_course_about_section(course, 'university')}</li>
      <li>${course.display_number_with_default}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</time></li>
    </ul>
  </div>
</div>

<!--
${get_course_about_section(course, 'university')[0:1]}
        <p class="semester">${get_course_about_section(course, 'university')[2:]}</p>
        <span class="course-organization">${get_course_about_section(course, 'university')}</span>
        <span class="course-code">${course.display_number_with_default}</span>
        <span class="course-title">${get_course_about_section(course, 'title')}</span>
-->
