<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%! from microsite_configuration import microsite %>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "DSf7aujD7tI")

  show_partners = microsite.get_value('show_partners', True)

%>

<section class="home">
  <header>
    <div class="outer-wrapper">
      <div class="title">
          <div class="course-search">
            <form method="get" action="/courses">
              <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
              <button class="search-button" type="submit">
                <i class="icon fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>

      </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>
        </a>
      % endif
    </div>
  </header>
  <section class="static-container">
  <h1>Featured courses</h1>
    <section class="courses-container">
      <section class="highlighted-courses">

        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <section class="courses">
              <ul class="courses-listing">
              ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
              %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
                <li class="courses-listing-item">
                  <%include file="course.html" args="course=course" />
                </li>
              %endfor
              </ul>
          </section>
          ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
          % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
            <div class="courses-more">
              <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
            </div>
          % endif
        % endif

      </section>
    </section>
    <h1>Course categories</h1>
    <section class="categories-container">
      <article>
        <div class="color1">
          <h2>Web &amp; Design</h2>
          <p>You learn how to communicate in an interactive and graphical way with the user. How do you build a logical interface? How do you make an innovative design in function of your target group?</p>
        </div>
      </article>
      <article>
        <div class="color2">
          <h2>Infrastructure</h2>
          <p>You learn about networking and operating systems in both a local and a virtual environment. By innovating, you will be able to choose the right hardware to implement.
          </p>
        </div>
      </article>
      <article>
        <div class="color4">
          <h2>Server Side</h2>
          <p>You learn how to make a good database and how to manage it. You allow your client to manage his website with a content management system. With server scripting, you develop your own innovative plugins.</p>
        </div>
      </article>
      <article>
        <div class="color5">
          <h2>Digital Expert</h2>
          <p>This is the spine of every future developer. You learn how to think critical, you plan your project and you deliver it. Following deadlines, analysing problems, but also presenting your idea or project are important.</p>
        </div>
      </article>
      <article>
        <div class="color3">
          <h2>App development</h2>
          <p>Object oriented programming is taught step by step. You use your programming skills as a tool to develop apps. This can either be desktop applications or mobile applications or even TV applications.</p>
        </div>
      </article>
    </section>
  </section>
  
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
    <%
      youtube_video_id = homepage_promo_video_youtube_id
      if self.stanford_theme_enabled():
        youtube_video_id = "2gmreZObCY4"
    %>
    <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
          equalheight('.categories-container article');
      })

      $(window).resize(function(){
        equalheight('.categories-container article');
      });

      equalheight = function(container){

        var currentTallest = 0,
             currentRowStart = 0,
             rowDivs = new Array(),
             $el,
             topPosition = 0;
         $(container).each(function() {

           $el = $(this);
           $($el).height('auto')
           topPostion = $el.position().top;

           if (currentRowStart != topPostion) {
             for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
               rowDivs[currentDiv].height(currentTallest);
             }
             rowDivs.length = 0; // empty the array
             currentRowStart = topPostion;
             currentTallest = $el.height();
             rowDivs.push($el);
           } else {
             rowDivs.push($el);
             currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
           for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
             rowDivs[currentDiv].height(currentTallest);
           }
         });
        }
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
