footer {

  clear: both;
  padding-top: 4em;
    font-size: 0.9em;
    margin: 0;
    overflow: hidden;

    .footer-container {
        .container();
        padding: 20px;

        background-color: @white;
        position: relative;
    }

    ul.links-below {
        .list-unstyled();

        margin: 0;

        li {
            display: block;
            margin: 0 0 5px 0;

            &:last-child {
                margin: 0;
            }

            a {
                color: @color-background;

                &:hover {
                    color: @color-background;
                }
            }
        }
    }

    ul.links {
        .list-unstyled();

        margin: 0;

        li {
            display: inline-block;
            margin: 0 5px 0 0;

            &:after {
                content: '\2022';
                padding: 0 0 0 5px;
            }

            &:last-child {
                margin: 0;

                &:after {
                    display: none;
                }
            }

            a {
                color: @color-background;

                &:hover {
                    color: @color-background;
                }
            }
        }
    }

    .footer-copy, .footer-logo {
        text-align: center;
    }

    .footer-social{
        text-align:right;
        span{
            padding-left: 0.5em;
        }

        .fa-twitter {
          color: #55acee;
        }
        .fa-twitter:hover {
          color: #6fb9f1;
        }
        .fa-facebook {
          color: #3b5998;
        }
        .fa-facebook:hover {
          color: #4365ad;
        }
        .fa-linkedin {
          color: #0976b4;
        }
        .fa-linkedin:hover {
          color: #0a89d1;
        }
        .fa-reddit{
            color: red;
        }
    }

    .footer-copy{
        .make-lg-column(12)
    }



    .footer-social, .footer-links, .footer-logo{
        .make-xs-column(12);
        .make-sm-column(6);
        .make-md-column(6);
        .make-lg-column(4);
        .fa{
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
}
