body,
.view-login,
.view-register,
.view-passwordreset {
    background-color: @color-background;

    @import 'header.less';
    @import 'modal.less';
    @import 'footer.less';
}

.container.dashboard
{
	background-color: #fff !important;
	overflow: auto;
	padding: 20px;
}

body, html
{
	background-color: @color-background !important;	
}

.static-container{
    max-width: 1170px; //(1200+15padd)
}

//bootstrap upgrade

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}