body,
.view-login,
.view-register,
.view-passwordreset {
    background-color: @color-background;

    @import 'header.less';
    @import 'modal.less';
    @import 'footer.less';
}

.container.dashboard
{
	background-color: #fff !important;
	overflow: auto;
	padding: 20px;
}

body, html
{
	background-color: @color-background !important;	
}

.home>header .title .course-search .search-button {
	background-color: #ed008c !important;
	border-color: darken(#ed008c, 10%);
}

.home>header .title .course-search input:focus {
	border-color: darken(#ed008c, 10%);
}